@import "./../../mixin.scss";

.start-screen {
  background: #404040;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  @include dflex();
  img {
    height: 100vh;
  }
}
.start-label-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  @include dflex();
  img {
    cursor: pointer;
    width: 60%;
    height: 200px;
    max-width: 700px;
    &:hover {
      filter: brightness(1.25);
    }
  }
}
