@for (player of game.players; track player; let index = $index) {
<app-player
  [name]="player"
  [ngStyle]="{ 'top.px': 60 + index * 120, 'right.px': 260 }"
  class="player-position"
></app-player>
}

<div class="field">
  <div class="card-stack">
    @for (count of [1, 2, 3, 4]; track count; let index = $index) {
    <img
      [ngStyle]="{ 'right.px': index * 5 }"
      src="./assets/img/cards/card_cover.png"
    />
    }
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="./assets/img/cards/card_cover.png"
    />
    @for (card of game.playedCard; track card) {
    <img class="played-card" src="./assets/img/cards/{{ card }}.png" />
    } @if(pickCardAnimation) {
    <img
      class="pick-card"
      style="right: 25px"
      src="./assets/img/cards/{{ currentCard }}.png"
    />
    }
  </div>
</div>

<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
  <mat-icon>add</mat-icon>
</button>
