@for (player of game.players; track player; let index = $index) {
<app-player
  [playerActive]="index === game.currentPlayer"
  [name]="player"
  [ngStyle]="{ 'top.px': 60 + index * 120 }"
  class="player-position hide-mobile"
></app-player>
}
<div class="scroll-container hide-desktop">
  @for (player of game.players; track player; let index = $index) {
  <app-player-mobile
    [playerActive]="index === game.currentPlayer"
    [name]="player"
  ></app-player-mobile>
  }
</div>

<div class="field">
  <div class="card-stack">
    @for (count of [1, 2, 3, 4]; track count; let index = $index) {
    <img
      [ngStyle]="{ 'right.px': index * 5 }"
      src="assets/img/cards/card_cover.png"
    />
    }
    <img
      *ngIf="game.players.length >= 2"
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="assets/img/cards/card_cover.png"
    />
    @for (card of game.playedCard; track card) {
    <img class="played-card" src="assets/img/cards/{{ card }}.png" />
    } @if(game.pickCardAnimation) {
    <img
      class="pick-card"
      style="right: 25px"
      src="assets/img/cards/{{ game.currentCard }}.png"
    />
    }
  </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
  <mat-icon>add</mat-icon>
</button>
